/*
!/bin

!/.emacs.d
/.emacs.d/*
!/.emacs.d/google-coding-style.el
!/.emacs.d/customize.el
!/.emacs.d/init.el
!/.emacs.d/preferences.el

!/.hgrc
!/.gitignore
!/.Xmodmap
!/.bashrc
!/.bashrc-machine
!/.hgglobalignore
!/.shell-common.sh
!/.zshrc
!/.gitconfig
