[alias]
st = status
br = branch
ci = commit
di = diff
co = checkout
sb = show-branch
cp = cherry-pick
out = !git fetch && git log FETCH_HEAD..
in  = !git fetch && git log ..FETCH_HEAD

[core]
editor = nano
excludesfile = ~/.hgglobalignore

[color]
ui = auto

[user]
name = David Anderson
email = dave@natulte.net

[push]
default = matching
