# -*- mode: gitignore; -*-

/*
!/bin

!/.emacs.d
/.emacs.d/*
!/.emacs.d/customize.el
!/.emacs.d/google-coding-style.el
!/.emacs.d/init.el
!/.emacs.d/preferences.el

!/.Xmodmap
!/.bashrc
!/.bashrc-machine
!/.emacs-machine.el
!/.gitconfig
!/.gitignore
!/.hgglobalignore
!/.hgrc
!/.shell-common.sh
!/.zshrc
!/.zshrc-machine
